@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPageable>

@using DotSee.Common;

@{
    if (Model.TotalPages <= 1) { return; }

    int page = Model.Page;
    int recordsPerPage = Model.RecordsPerPage;
    int totalItems = Model.TotalItems;
    int totalPages = Model.TotalPages;

    if (page > totalPages) { page = totalPages; }

    string prevLink = Utils.UpdateQueryString(HttpContext.Current.Request, "page", (page - 1).ToString());
    string nextLink = Utils.UpdateQueryString(HttpContext.Current.Request, "page", (page + 1).ToString());
    int recordFrom = ((page - 1) * recordsPerPage + 1);
    int recordTo = ((page - 1) * recordsPerPage + recordsPerPage);
    if (recordTo > totalItems) { recordTo = totalItems; }

}

<div class="col-md-12 pagination-nav mt-60 mt-xs-30">
    <ul>
        @if (page > 1)
        {
            <li><a href="@prevLink"><i class="fa fa-angle-left"></i></a></li>
        }
        @for (int i = 1; i <= totalPages; i++)
        {
            string activeCss = (page == i) ? "active" : null;

            <li class="@activeCss"><a href="@Utils.UpdateQueryString(HttpContext.Current.Request,"page",i.ToString())">@i</a></li>
        }
        @if (page < totalPages)
        {
            <li><a href="@nextLink"><i class="fa fa-angle-right"></i></a></li>
        }
    </ul>
</div>